*
{
    padding: 0px;
    margin: 0px;
}

/*    background-color: #f2f2f2;*/

.maindiv
{
    width: 100%;
/*height: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topbar
{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
/*    padding: 20px;*/
}
.logo
{
    font-size: 20px;
    font-weight: 1000;
}

.menu 
{
    width: 50%;
}
input[type=checkbox] {
            display: none;
        }

        /* HAMBURGER MENU */
        .hamburger {
            display: none;
            font-size: 24px;
            user-select: none;
        }


.menu ul 
{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.furnneed
{
    width: 90%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content:space-between;
    padding-top: 8%;
    padding-bottom: 8%;
}

.rgt
{ 
/*    background-image: url(images/slider-img.png);*/
    width: 50%;
    height: 330px;
    background-size:cover;
    
}
.lft
{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-top: 8%;
    padding-left: 40px;
}
.lft h1
{
    width: 80%;
    padding-bottom: 15px;
    
}
.lft p
{
    width: 80%;
    font-size: 18px;
}
.lft .buttonbox
{
    width: 60%;
    display: flex;
    padding-top: 30px;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}
.buttonbox button
{
    padding: 10px 30px;
    color: white;
}
#b1
{
    background-color: orange;
}
#b2
{
    background-color: cadetblue;
}
.ourfurn
{
    
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.row1
{
    width: auto;
    display: flex;
    flex-direction: row;
     flex-wrap: wrap;
    justify-content: space-evenly;
/*    height: 50%;*/
    padding-top: 20px;
    padding-bottom: 30px;

}

.row1 #row1a
{
/*    width: auto;*/
/*    height: 50%;*/
    background-color: #f2f2f2;
    padding: 10px 10px;
    flex-wrap: wrap;
/*    width: 30%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.row1 #row1a img
{
    height:250px;
    width: 250px;
/*    width:80%;*/
}
#row1a p
{
/*    width: 18%;*/
}
.row1 #row1a a
{
    width: auto;
    text-decoration: none;
    color: skyblue;
    
}
#xyz
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.row2
{
     width: auto;
/*    width: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     flex-wrap: wrap;
/*    height: 50%;*/
}

.row2 #row1a
{
/*    width: 30%;*/
/*    width: auto;*/
/*    height: 50%;*/
    background-color: #f2f2f2;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.row2 #row1a img
{
    height:250px;
    width: 250px;
 
/*    margin: auto;*/
}
#row1a a
{
    text-decoration: none;
    color: skyblue;
    text-decoration: none;
    display: flex;
    align-content:flex-end;
    justify-content: flex-end;
    width: auto;
}
p span
{
    color: dodgerblue;
}
.about
{
    padding-top: 80px;
    height: 600px;
    width: 100%;
}
.outerabout
{
    width: 90%;
    margin: auto;
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lftimg1
{
/*    background-image: url(images/about-img.png);*/
    background-size: cover;
    width: 50%;
    height: 55%;
    margin-top: auto;
    margin-bottom: auto;
}

.rgttext1
{
    width: 40%;
  
/*    height: 50%;*/
    padding-top: 200px;
    padding-right: 55px;
}
#coldiv
{
    height: 50%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
#coldiv button
{
    width: 30%;
    height: 20%;
    background-color: cadetblue;
    color: white;
}
.latestblog
{
/*    height: auto;*/
    width: 90%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.c1
{
    text-align: center;
    padding-bottom: 40px;
}
.c2
{
/*    height: 80%;*/
    width: 100%;
/*    height: auto;*/
/*    width: auto;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.c2 .divc2_1
{
/*    width: 30%;*/
/*    width: auto;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 8px 8px 6px #888888;
}
.divc2_1 img
{
    width: 350px;
    height: 250px;
}
.divc2_1 div
{
/*
    width: 90%;
    height: 180px;
*/
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divc2_1 button
{
    width: 40%;
    height: 40px;
    color: white;
    background-color: cadetblue;  
}

.c2 .divc2_2
{
/*    width: 30%;*/
/*    width: auto;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 8px 8px 6px #888888;

}
.divc2_2 img
{
/*
    width: 100%;
    height: 50%;
*/
    width: 350px;
    height: 250px;
}
.divc2_2 div
{
/*
    width: 90%;
    height: 180px;
*/ width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.divc2_2 button
{
    width: 40%;
    height: 40px;
    color: white;
    background-color: cadetblue;

}

.c2 .divc2_3
{
/*    height: 100%;*/
/*    width: 30%;*/
/*    width: auto;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 8px 8px 6px #888888;
}
.divc2_3 img
{
/*
    width: 100%;
    height: 50%;
*/
    width: 350px;
    height: 250px;
        
}
.divc2_3 div
{
/*    width: 90%;*/
/*    height: 200px;*/
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

}
.divc2_3 button
{
    width: 40%;
    height: 40px;
    color: white;
    background-color: cadetblue;  
}

/*testimonial*/

.outertest
{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.outertest #h21
{
    text-align: center;
     flex-wrap: wrap;
}

.innertest
{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(1,0,0,0.5);
    align-items: center;
    justify-content: space-evenly;
     flex-wrap: wrap;
    box-shadow: 8px 8px 6px #888888;
}
.innertest img
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 8px solid skyblue;
    
 
}
.innertest h1
{
    width: 20%;
}
.innertest p
{
    width: 90%;
    font-size: 19px;
     
}
#text21
{
    width: 70%;
}
.contactus
{
    width: 94%;
    height: auto;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.innercontact
{
    width: 390px;
/*    height: auto;*/
/*    width: auto;*/
    padding-top: 60px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*    flex-wrap: wrap;*/
}
.innercontact input
{
/*    width: 90%;*/
    width: auto;
    height: 50px;   
    padding-left: 20px;
}
.innercontact #inputbig
{
    height: 100px;
}
.contactus iframe
{
    padding-top: 60px;
}
.innercontact button
{
    width: 120px;
    height: 50px;
    color: white;
    background-color: cadetblue;
}
.outerend
{
    background-color: black;
    height: 500px;
    width: 90%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.endro1
{
    color: white;
/*    margin: auto;*/
    width: auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.endro2
{
/*
    width: 90%;
    height: 50%;
    margin: auto;
*/
    width: auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quick
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*    flex-wrap: wrap;*/
/*
    width: 20%;
    height: 50%;
*/
}
.quick div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quick div a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.insta
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*
    width: 25%;
    height: 70%;
*/
}
.signup
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*
    width: 40%;
    height: 70%;
*/
}
#inst1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*    width: 75%;*/
    width: auto;
}
#inst1 img
{
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 4px 4px;
}
#inst2
{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*    width: 75%;*/
    padding-top: 10px;
}
#inst2 img
{
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 4px 4px;
}
.signup input
{
    padding-left: 20px;
    height: 40px;
    width: 70%;
}
.signup button
{
    width: 40%;
    height: 45px;
    color: white;
    background-color: cadetblue;
}
button:hover
{
    color: cadetblue;
    border: 1px solid cadetblue;
    background-color: transparent;
}
#b1:hover
{
    color: orange;
    background-color: transparent;
    border: 1px solid orange;
}
#b2:hover
{
    color: cadetblue;
    border: 1px solid cadetblue;
    background-color: transparent;
}
#b3:hover
{
    color: cadetblue;
    border: 1px solid cadetblue;
    background-color: transparent;
}
.menu li a:hover
{
    color: cadetblue;
}
.ourfurn #xyz a:hover
{
    color: black;
}
.contactus input:focus
{
    border: 6px solid cadetblue;
}
.quick a:hover
{
    color: cadetblue;
}
.signup input:focus
{
    border: 4px solid cadetblue;

}
@media only screen and (max-width: 1115px)
{
    .divc2_1,.divc2_2,.divc2_3
    {
        margin-bottom: 10px;
    }
}
 @media only screen and (max-width: 776px) {
    .menu {
        display: none;
        position: absolute;
        background-color: orange;
        color: white;
        width: auto;
        right: 0;
        left: 0;
        top: 0;
        text-align: center;
        padding: 16px 0;
        /* Remove flex-direction from .menu */
    }

    .menu ul {
        display: flex;
        flex-direction: column; /* Add flex-direction to .menu ul */
        list-style: none;
        justify-content: space-around;
    }

.menu li a {
        color: white !important; /* Set the color to white when the menu is minimized */
    }

    .menu li:hover {
        background-color: darkorange;
        transition: 0.3s ease;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}
@media only screen and (max-width:794px)
{
    .latestblog .c2
    {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width:660px)
{
    .furnneed
    {
        display: flex;
        flex-direction: column;
    }
    .furnneed .lft
    {
        width: 100%;
    }
    .furnneed .rgt
    {
        width: 100%;
    }
    .buttonbox #b1,#b2
    {
        width: 50%;
    }
    .outerabout
    {
        display: flex;
        flex-direction: column;
        
    }
    .outerabout .lftimg1
    {
        width: 100%;
    }
    .outerabout .rgttext1
    {
        width: 100%;
    }
    #b3
    {
      height: 50px !important;  
    }
}
@media only screen and (max-width:616px)
{
    .ourfurn #row1a
    {
        margin-bottom: 10px;
    }
}